@import './_vars.sass';

@mixin gradient-text($gradient, $bg : 'light') {
  @supports (mix-blend-mode: lighten) {
    display: inline-block;
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      background: unquote($gradient);
      pointer-events: none;
    }

    @if ($bg == 'light') {
      color: #000;
      background: #fff;
      mix-blend-mode: multiply;

      &::before {
        mix-blend-mode: screen;
      }
    } @else {
      color: #fff;
      background: #000;
      mix-blend-mode: lighten;

      &::before {
        mix-blend-mode: multiply;
      }
    }
  }
}

@mixin font-gradient($from, $to, $dir) {
  background: -webkit-linear-gradient($dir, $from, $to);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin border-gradient($from, $to, $width) {
  border-left: $width solid $from;
  border-right: $width solid $to;
  background-image: -webkit-linear-gradient(left, $from, $to), -webkit-linear-gradient(left, $from, $to);

  // 100% left & right, $width px top & bottom
  background-size: 100% $width;
  background-position: 0 100%, 0 0;
  background-repeat: no-repeat;
  background-clip: border-box;
}

@mixin transition($prop: all) {
  outline: none;
  transition: $prop 0.35s ease;
}

@mixin inputHover {
  box-shadow: 0 3px 10px rgba($midgrey, 0.5);
}
